.nav-item-filtrar {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #333;
    background-color: white;
    border-radius: 15px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 80px;
  }
  
  .nav-item-filtrar a {
    text-decoration: none;
    color: #333;
    background-image: url('/img/icons/Loupe-Background-PNG.png');
    background-repeat: no-repeat;
    background-size: 12px 12px; 
    background-position: left center; 
    padding-left: 20px; 
  }

  .nav-item-inicio {
    background-color: #9e9e9e;
    border-radius: 5px;
    padding: 5px;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .nav-item-inicio a {
    color: #333;
  }
  
  .nav-item-inicio a:hover {
    color: #333;
  }

  .nav-item-año select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: #37bbed;
    font-weight: bold;
  }

  .nav-item-cargo select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: #37bbed;
    font-weight: bold;
  }

  .nav-item-distrito select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: #37bbed;
    font-weight: bold;
  }

  .nav-item-generales {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    border: 1px solid #37bbed;
    border-radius: 5px;
    background-color: #37bbed;
    width: 100px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .nav-item-generales:hover {
    background-color: rgb(128, 128, 128, 0.5);
  }
  .nav-item-generales a {
    display: block;
    padding: 0px 5px;
    text-decoration: none;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    text-align: center;
  }

  .nav-item-informes {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #333;
    width: 100px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .nav-item-informes:hover {
    background-color: rgb(128, 128, 128, 0.5);
  }
  .nav-item-informes a {
    display: block;
    padding: 0px 8px;
    text-decoration: none;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    text-align: center;
  }
  

  
.mensaje-amarillo {
    background-color: #ffc107;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    background-image: url('/img/icons/exclamation-.png');
    background-repeat: no-repeat;
    background-size: 20px 20px; 
    background-position: 20px center; 
    padding-right: 10px;
  }
  
  
  .mensaje-rojo {
    background-color: #dc3545;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    background-image: url('/img/icons/caution.png');
    background-repeat: no-repeat;
    background-size: 20px 20px; 
    background-position: 20px center; 
    padding-right: 10px;
  }
  
  
  .mensaje-verde {
    background-color: #28a745;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    background-image: url('/img/icons/okhand.png');
    background-repeat: no-repeat;
    background-size: 20px 20px; 
    background-position: 20px center; 
    padding-right: 10px; 
  }

  #sec-titulo div {
    margin-left: 200px;
  }
  
  #sec-contenido div {
    margin-left: 50px;
  }
  
  #sec-messages {
    text-align: center;
  }

  .texto-path p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #37bbed;
}

.boton-agregar-informe {
    background-color: #9e9e9e;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease; 
  }
  
  .boton-agregar-informe:hover {
    color: var#333; 
  }

  
  
  .mensaje-escrutadas {
    background-color: #37bbed;
    border-radius: 10px;
    margin: 15px 1px; 
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  
  .electores {
    background-color: #ee3d8f;
    border-radius: 10px;
    margin: 15px 1px;
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  
  .participacion-escrutado {
    background-color: #9283be;
    border-radius: 10px;
    margin: 15px 5px; 
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }

  .recuadro-agrupaciones {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 15px 1px; 
    width: 400px;
    height: 400px;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  

  .recuadro-provincias {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 15px 1px; 
    width: 300px;
    height: 400px;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }

  .recuadro-resumen-votos {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 15px 1px; 
    width: 300px;
    height: 400px;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }












  
  