.nav-item-paso {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  border: 1px solid #ee3d8f;
  border-radius: 5px;
  background-color: #ee3d8f;
  width: 100px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
.nav-item-paso:hover {
  background-color: rgb(128, 128, 128, 0.5);
}
.nav-item-paso a {
  display: block;
  padding: 0px 8px;
  text-decoration: none;
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  text-align: center;
}

.nav-item-generales {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  border: 1px solid #37bbed;
  border-radius: 5px;
  background-color: #37bbed;
  width: 100px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.3s;
}

.nav-item-generales:hover {
  background-color: rgb(128, 128, 128, 0.5);
}
.nav-item-generales a {
  display: block;
  padding: 0px 5px;
  text-decoration: none;
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  text-align: center;
}

.nav-item-informes {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: #333;
  width: 100px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.3s;
}

.nav-item-informes:hover {
  background-color: rgb(128, 128, 128, 0.5);
}
.nav-item-informes a {
  display: block;
  padding: 0px 8px;
  text-decoration: none;
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  text-align: center;
}

.span-consultar {
  color: white;
  vertical-align: middle;
  padding: 1px 32px;
  margin: start;
}

#sec-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec-titulo div {
  margin-left: 200px;
}

#sec-contenido div {
  margin-left: 200px;
}

.Imagen-Data {
  margin-right: 200px; /* Lo adapte a estos px xq no me quedaba bien en la pagina */
  width: 350px;
}

.boton-paso {
  background-color: #ee3d8f;
  border-radius: 10px;
  margin: 25px;
  width: 400px;
  height: 100px;
  padding: 1rem;
  color: #fff;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
}

.boton-general {
  background-color: #37bbed;
  border-radius: 10px;
  margin: 25px;
  width: 400px;
  height: 100px;
  padding: 1rem;
  color: #fff;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
}
.boton-paso img,
.boton-general img {
  width: 50px;
  height: auto;
  vertical-align: middle;
  margin-left: 10px;
}
